<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Find Your Ear Bud and Enjoy Music Together!</title>
    <link
      rel='icon'
      href='https://res.cloudinary.com/dtpoyncyn/image/upload/v1654630541/Project_2/hgt531jbodbdgm3mflmf.png'
    />
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple'
    />

    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/css/style.css' />
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'
    >
    </script>
  </head>

  <body class='bg-black'>
    <div class='flex-column justify-space-around'>
      <header class='header'>
        <a href='/dashboard' class='logo'>EarBud</a>
        <div class='header-right'>
          <a href='/dashboard'>Dashboard</a>
          <a href='/spotify'>Spotify Suggestions</a>
          <a href='/contact'>Contact</a>
          <a href='/about'>About</a>
          {{#if logged_in}}
            <a id='logout' href='#'>Logout</a>
          {{else}}
            <a href='/login'>Login</a>
          {{/if}}
        </div>
      </header>
      <main class='py-4'>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer class='d-flex justify-content-center align-items-center'>
        <p class='align-items-center'>
          <a href='https://github.com/NatalyaCo/EarBud' target='_blank'>
            EarBud App</a>
          by Shlomo & Natalya
        </p>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>