<h2>Register Your EarBud Account Here:</h2>
<form action="/accountcreate" method="POST">
    <div>
        <label for="name">Name:</label>
        <input id="name" type="text" name="name" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" required>
    </div>
    <button id="registerSubmit" type="submit">Create Account</button>
</form>
<a href="/login">Back To Login</a>