<h2>Login Into Your EarBud Account Here:</h2>
<form action="/login" method="POST">
    <div>
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" required>
    </div>
    <button id="registerSubmit" type="submit">Login</button>
</form>
<a href="/accountcreate">Create an Account</a>