<div
  class='row align-items-center d-flex justify-content-center landingPage my-4 text-center'
>
  <div class='col-md-3 justify-content-center'><div
      class='text-center my-4 text-white'
    >
      <p>
        This fullstack application is in the very early stages of development.
        Our long term goal is to provide a platform for music lovers to connect
        with people sharing similar musical interest.
      </p>
    </div>
  </div>
</div>

{{!-- spotify spot from their site --}}

<div class="container">
    <h1>Search for an Artist</h1>
    <p>Type an artist name and click on Search. Then, click on any album from the results to play 30 seconds of its first track.</p>
    <form id="search-form">
        <input type="text" id="query" value="" class="form-control" placeholder="Type an Artist Name"/>
        <input type="submit" id="search" class="btn btn-primary" value="Search" />
    </form>
    <div id="results"></div>
</div>
<script type="text/x-handlebars-template">
    {{#each albums.items}}
    <div style="background-image:url({{images.0.url}})" data-album-id="{{id}}" class="cover"></div>
    {{/each}}
</script>

<script src="/script.js"><{{!}}/script>