<div
  class='row align-items-center d-flex justify-content-center landingPage my-4 text-center'
>
  <div class='col-md-3 justify-content-center'>
    <div class='text-center my-4 text-white'>
      <p>
        This fullstack application is in the very early stages of development.
        Our long term goal is to provide a platform for music lovers to connect
        with people sharing similar musical interest.
      </p>
    </div>
  </div>
</div>

