<div
  class='row align-items-center d-flex justify-content-center landingPage my-4 text-center'
>
  <div class='col-md-3 justify-content-center'>
    <h1 class='text-white'>Shlomo Siegelman</h1>
    <ul>
      <li class='text-white'>ssiegelman15@gmail.com</li>
      <li>
        <a
          href='https://github.com/ssiegelman15'
          target='_blank'
          class='text-white text-decoration-none'
        >Shlomo's Github</a>
      </li>
      <li>
        <a
          href='https://www.linkedin.com/in/shlomo-siegelman-67b50112/'
          target='_blank'
          class='text-white text-decoration-none'
        >Shlomo's LinkedIn</a>
      </li>
    </ul>
  </div>
  <div class='col-md-3 mx-2 my-2'>
    <h1 class='text-white'>Natalya Colburn</h1>
    <ul>
      <li class='text-white'>greatqueenbee@gmail.com</li>
      <li>
        <a
          href='https://github.com/NatalyaCo'
          target='_blank'
          class='text-white text-decoration-none'
        >Natalya's Github</a>
      </li>
      <li>
        <a
          href='https://www.linkedin.com/in/natalya-colburn-46bb2b1b2'
          target='_blank'
          class='text-white text-decoration-none'
        >Natalya's LinkedIn</a>
      </li>
    </ul>
  </div>
</div>