<div class='landingPage'>
  <button onclick='requestAuthorization()'>
    <img src='../public/Images/spotify image.png' width='200px' />
    <h2>Welcome to EarBud! Login with your Spotify account above to meet people
      with similar music taste!</h2>
  </button>
</div>