<div class='landingPage'>
  <input placeholder='username' type='text' class='inputBox' id='usernameBox' />
  <input placeholder='password' type='text' class='inputBox' id='usernameBox' />
  <button type='submit' class='inputBox' id='loginBtn'>Login</button>
  <div class='login' id='login'>
    <h3>Login:</h3>
  </div>
</div>

<script src='/js/login.js'></script>