<div class="row">
  <div class="top">
    <h1>Welcome, {{name}}!</h1>
  </div>
</div>
<section>

<div class="row mt-4">
  <div class="col-md-6">
    {{!-- Need to redo profile page to include actual picture, user info, friends matched with, and pending friend connections --}}
    {{!-- <h3>Create a New Profile</h3> --}}

<div class="container">

<div class="row">
  <h2>To begin, please provide some information</h2>

  <button id="upload_widget" class="cloudinary-button">Upload Your Photo</button>

  <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  
  
  <script type="text/javascript">  
  var myWidget = cloudinary.createUploadWidget({
    cloudName: 'dtpoyncyn', 
    uploadPreset: 'rvv34pcq'}, (error, result) => { 
      if (!error && result && result.event === "success") { 
        console.log('Done! Here is the image info: ', result.info.url); 
      }
    }
  )
  
  document.getElementById("upload_widget").addEventListener("click", function(){
      myWidget.open();
    }, false);
  </script>  

    <form class="form new-profile-form">

      <div class="form-group">
        <label for="preferences-about_me"><h3>Music to Me Is:</h3></label>
        
      <select id="about_me" name="about_me" class="form-control">
        <option value="" disabled selected>Select your answer</option>
        <option value="everything">EVERYTHING</option>
        <option value="dance">Something I can DANCE TO</option>
        <option value="coolBut">COOL but I have other hobbies</option>
        <option value="explore">Something to explore and Discover</option>
      </select>
    </div>

    <div class="form-group">
      
      <label for="preferences-fave_genre"><h3> Favorite Music Genre Name Is:</h3></label>
      
      <select id="fave_genre" name="fave_genre" class="form-control">
    
    <option value="" disabled selected>Select your Genre</option>
    <option value="Rock">Rock</option>
    <option value="Rap">Rap </option>
    <option value="Techno">Techno</option>
    <option value="Country">Country </option>
    <option value="Pop">Pop</option>
    <option value="Classical">Classical and Broadway</option>
    <option value="Indie">Indie Rock</option>
  </select>

  </div>

  <div class="form-group">
      
      <label for="preferences-fave_experience_style"><h3> Favorite Way to Experience Music Is:</h3></label>
      <select id="fave_experience_style" name="fave_experience_intentions" class="form-control">

    <option value="" disabled selected>Select a Venue</option>
    <option value="Stadium">At a Stadium</option>
    <option value="Club">At a Club</option>
    <option value="Home">At Home </option>
    <option value="Car">In my car </option>
    <option value="Party">At a Party </option>
    <option value="Theatre">At a Theatre</option>

  </select>  

  </div>


<div class="form-group">
      
  <label for="preferences-fave_decade"><h3> Favorite Decade to Listen Music from Is:</h3></label>
  <select id="fave_decade" name="fave_decade" class="form-control">

    <option value="" disabled selected>Select the Decade</option>
    <option value="Old">Anything Before WW2</option>
    <option value="50_60">1950 and 60</option>
    <option value="70_80">80</option>1970 and 80</option>
    <option value="1990">1990 </option>
    <option value="Now">Current </option>
  </select>

<div class="form-group">
      
  <label for="prefereces-intentions"><h3> Would Like to Meet:</h3></label>
  <select id="intentions" name="intentions" class="form-control">

    <option value="" disabled selected>Select one</option>
    <option value="Concerts">People to go to Small Concerts with</option>
    <option value="Dancing">People to go dancing with</option>
    <option value="New">People to meet for a drink and listen to new live music</option>
    <option value="Musical">People to catch a symphony or musical with  </option>
    <option value="Rock_out"> People to rock out with at huge concert </option>

</div>
</div>
</form> 
</div>
</section>

  {{#if prererences.length}}
  <div class="col-md-6 preferences-list">
    <h3>My Preferences:</h3>

    {{#each preferences as |profile|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/preferences/{{preferences.id}}">{{preferences.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{preferences.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}} 
</div>

<script src="./js/profile.js"></script>
