<div class="row">
  <div class="top">
    <h1>Welcome, {{name}}!</h1>
  </div>
</div>
<section>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <h2 id="entry">Please provide some information about yourself!</h2>
          <button id="upload_widget" class="cloudinary-button">Upload Your Photo</button>
          <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
          <form class="form new-profile-form">
            <div class="form-group">
              <label for="preferences-about_me">
                <h3>Music to Me Is:</h3>
              </label>
              <select id="about_me" name="about_me" class="form-control">
                <option value="" disabled selected>Select your answer</option>
                <option value="EVERYTHING!">EVERYTHING</option>
                <option value="something I can dance to!">Something I can dance to!</option>
                <option value="cool but I have other hobbies...">COOL but I have other hobbies</option>
                <option value="something to explore and discover">Something to explore and discover</option>
              </select>
            </div>
            <div class="form-group">
              <label for="preferences-fave_genre">
                <h3> Favorite Music Genre:</h3>
              </label>
              <select id="fave_genre" name="fave_genre" class="form-control">
                <option value="" disabled selected>Select your Genre</option>
                <option value="Rock">Rock</option>
                <option value="Rap">Rap </option>
                <option value="Techno">Techno</option>
                <option value="Country">Country </option>
                <option value="Pop">Pop</option>
                <option value="Classical">Classical and Broadway</option>
                <option value="Indie">Indie Rock</option>
              </select>
            </div>
            <div class="form-group">
              <label for="preferences-fave_experience_style">
                <h3> My Favorite Way to Experience Music Is:</h3>
              </label>
              <select id="fave_experience_style" name="fave_experience_intentions" class="form-control">
                <option value="" disabled selected>Select a Venue</option>
                <option value="at a stadium!">At a Stadium</option>
                <option value="at a club!">At a Club</option>
                <option value="in my home.">At Home </option>
                <option value="in my car.">In my Car </option>
                <option value="at a party!">At a Carty </option>
                <option value="in a theatre.">At a Theatre</option>
              </select>
            </div>
            <div class="form-group">
              <label for="preferences-fave_decade">
                <h3> My Favorite Decade of Music Is From:</h3>
              </label>
              <select id="fave_decade" name="fave_decade" class="form-control">
                <option value="" disabled selected>Select the Decade</option>
                <option value="real oldies">Anything Before WW2</option>
                <option value="1950-60's">50's & 60's</option>
                <option value="1970-80's">70's & 80's</option>1970 and 80</option>
                <option value="1990-2000's">90's & Early 2000's</option>
                <option value="newer collections">Current</option>
              </select>
            </div>
            <div class="form-group">
              <label for="prefereces-intentions">
                <h3> I Would Like to Meet:</h3>
              </label>
              <select id="intentions" name="intentions" class="form-control">
                <option value="" disabled selected>Select one</option>
                <option value="people to go to small concerts with.">People to go to Small Concerts with</option>
                <option value="people to go dancing with!">People to go dancing with</option>
                <option value="people to meet for a drink and listen to new live music.">People to meet for a drink and listen to new live music</option>
                <option value="people to catch a symphony or musical with.">People to catch a symphony or musical with </option>
                <option value="people to rock out with at huge concert."> People to rock out with at huge concert </option>
              </select>
            </div>
          </form>
        </div>
          
      </div>
    </div>
    <div class="row">
    <button class='btn btn-primary save_pref' type='submit'>
            Submit
          </button>
          </div>
  </div>
</section>


<script src="./js/register.js"></script>s