:root {
  background-color: black;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px black inset !important;
  -webkit-text-fill-color: white;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px black inset !important;
  -webkit-text-fill-color: white;
}

h2 {
  font-family: monospace;
  color: white;
}

.form-input {
  color: white;
}

.form-group {
  background-color: black;
}

.landingPage {
  padding-top: 150px;
}

.header {
  overflow: hidden;
  background-color: #1ed760;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: white;
  color: black;
}

.header a.active {
  background-color: black;
  color: white;
}

.header-right {
  float: right;
}

.btn-primary {
  color: black;
  background-color: white;
}
