:root {
  background-color: black;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px black inset !important;
  -webkit-text-fill-color: white;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px black inset !important;
  -webkit-text-fill-color: white;
}

h2 {
  font-family: monospace;
  color: white;
}

.form-input {
  color: white;
}

.form-group {
  background-color: black;
}

.landingPage {
  padding-top: 150px;
}

.header {
  overflow: hidden;
  background-color: #1ed760;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: white;
  color: black;
}

.header a.active {
  background-color: black;
  color: white;
}

.header-right {
  float: right;
}

.btn-primary {
  color: black;
  background-color: white;
}



.hero-image {
  background-image: url(../images/sweet\ music.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  font-size: 100px;
  text-align: center;
  position: absolute;
  color: rgb(45, 218, 45);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.user-pic {
  position: relative;
}

.name-dashboard {
  color: aliceblue;
  font-size: 30px;

}
.dashboard-container {
  display: flex;
  text-decoration: antiquewhite;

}

.dash-text {
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 50px;

  text-align: left;
  color: aliceblue;
  font-size: 30px;

}

.intro {
  display: flex;
  align-items: flex-end;
}

.flex-container {
  display: flex;
}

.flex-child {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  font-size: 25px;
  flex: 1;
  border: 2px solid aliceblue;
}  

.flex-child:first-child {
  margin-right: 20px;
} 