:root {
  background-color: black;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px black inset !important;
  -webkit-text-fill-color: white;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px black inset !important;
  -webkit-text-fill-color: white;
}

/* button {
  background-color: transparent;
  border-radius: 100px;
  position: relative;
  bottom: 100px;
} */

/* body {
  background-color: black;
} */

h2 {
  font-family: monospace;
  color: white;
}

.form-input {
  color: white;
}

.form-group {
  background-color: black;
}

.landingPage {
  padding-top: 150px;
}

.header {
  overflow: hidden;
  background-color: #1ed760;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: white;
  color: black;
}

.header a.active {
  background-color: black;
  color: white;
}

.header-right {
  float: right;
}

.btn-primary {
  color: black;
  background-color: white;
}

/* .inputBox { */
/* display: flex;
  flex-direction: column; */
/* margin: 20px;
  position: relative;
  left: 40%;
  top: 200px;
  width: 20px;
  height: 35px;
  text-align: center;
  background-color: white;
  font-family: monospace;
} */

/* .login {
  position: absolute;
  left: 40%;
  bottom: 60%;
  color: white;
  font-family: monospace;
  font-size: 25px;
} */

/* #loginBtn {
  width: 65px;
  color: grey;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
} */
